
   
body {
  background-color: lightgray;
  margin: 20%;
}
  

#result {
  margin-top: 30px;
  font-size: 30px;
}

h1{
font-family: Comfortaa, Helvetica, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
letter-spacing: normal;
line-height: 57.6px;
text-transform: none;
color: #333D47;
}

h2{
 font-family: Comfortaa, Helvetica, sans-serif;
 font-size: 30px;
 font-style: normal;
 font-weight: 500;
 letter-spacing: normal;
 text-transform: none;
 color: #333D47; 
}







button {
  background: #cf2929;
  background-image: -webkit-linear-gradient(top, #cf2929, #d99797);
  background-image: -moz-linear-gradient(top, #cf2929, #d99797);
  background-image: -ms-linear-gradient(top, #cf2929, #d99797);
  background-image: -o-linear-gradient(top, #cf2929, #d99797);
  background-image: linear-gradient(to bottom, #cf2929, #d99797);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 17px 25px 20px 26px;
  text-decoration: none;
}

button:hover {
  background: #fc3c3c;
  text-decoration: none;
}





.container{
  justify-content: center;
  align-items: center;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    margin: 5% 30% ;

}


